notebooks/*.ipynb filter=lfs diff=lfs merge=lfs -text
results/checkpoints/*.pth filter=lfs diff=lfs merge=lfs -text
data/Squash___Powdery_mildew filter=lfs diff=lfs merge=lfs -text
data/Strawberry___healthy filter=lfs diff=lfs merge=lfs -text
data/Tomato___Early_blight filter=lfs diff=lfs merge=lfs -text
data/Tomato___Septoria_leaf_spot filter=lfs diff=lfs merge=lfs -text
data/Apple___Black_rot filter=lfs diff=lfs merge=lfs -text
data/Apple___Cedar_apple_rust filter=lfs diff=lfs merge=lfs -text
data/Cherry___healthy filter=lfs diff=lfs merge=lfs -text
data/Grape___Leaf_blight_(Isariopsis_Leaf_Spot) filter=lfs diff=lfs merge=lfs -text
data/Grape___Esca_(Black_Measles) filter=lfs diff=lfs merge=lfs -text
data/Peach___Bacterial_spot filter=lfs diff=lfs merge=lfs -text
data/Tomato___Tomato_mosaic_virus filter=lfs diff=lfs merge=lfs -text
data/Apple___Apple_scab filter=lfs diff=lfs merge=lfs -text
data/Grape___Black_rot filter=lfs diff=lfs merge=lfs -text
data/Grape___healthy filter=lfs diff=lfs merge=lfs -text
data/Tomato___healthy filter=lfs diff=lfs merge=lfs -text
data/Background_without_leaves filter=lfs diff=lfs merge=lfs -text
data/Orange___Haunglongbing_(Citrus_greening) filter=lfs diff=lfs merge=lfs -text
data/Tomato___Bacterial_spot filter=lfs diff=lfs merge=lfs -text
data/Tomato___Leaf_Mold filter=lfs diff=lfs merge=lfs -text
data/Apple___healthy filter=lfs diff=lfs merge=lfs -text
data/Cherry___Powdery_mildew filter=lfs diff=lfs merge=lfs -text
data/Raspberry___healthy filter=lfs diff=lfs merge=lfs -text
data/Tomato___Target_Spot filter=lfs diff=lfs merge=lfs -text
data/Blueberry___healthy filter=lfs diff=lfs merge=lfs -text
data/Peach___healthy filter=lfs diff=lfs merge=lfs -text
data/Tomato___Late_blight filter=lfs diff=lfs merge=lfs -text
data/Tomato___Spider_mites[[:space:]]Two-spotted_spider_mite filter=lfs diff=lfs merge=lfs -text
data/Strawberry___Leaf_scorch filter=lfs diff=lfs merge=lfs -text
data/Tomato___Tomato_Yellow_Leaf_Curl_Virus filter=lfs diff=lfs merge=lfs -text
