/Plant_leave_diseases_dataset_with_augmentation
/data
/penulisan
.env
/checkpoints
/plots

# Jupyter Notebook
.ipynb_checkpoints
**.ipynb

# MacOS unique dotfile
.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IPython
profile_default/
ipython_config.py
